* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
  max-width: 1280px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
